/* Cambios visuales en el admin */
body {
    font-family: "Inter", sans-serif;
    background-color: #f9f9f9;
}

#header, .module h2 {
    background-color: #e74c3c !important;
    color: #fff !important;
}

.model-producto th {
    background-color: #2ecc71;
    color: #fff;
}

.model-producto td {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

button, input, select {
    border-radius: 6px;
}
